################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/FoodyCoody/bin/Debug/netcoreapp1.0
/src/FoodyCoody/obj/Debug/netcoreapp1.0
/.vs
/src/FoodyCoody/bin/src/FoodyCoody/bin/Debug/netcoreapp1.0
/src/FoodyCoody/bin/src/FoodyCoody/obj/Debug/netcoreapp1.0
