################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/FoodyCoody/bin/Debug/netcoreapp1.0
/src/FoodyCoody/obj/Debug/netcoreapp1.0
/.vs/config
/.vs/FoodyCoody/v14
